{% extends 'default.html.twig' %}

{% block title %}Hello TweetController!{% endblock %}

{% block content %}

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Crear">
    {{ form_end(form) }}
</div>
{% endblock %}
