{% extends 'default.html.twig' %}
{% block content %}
    <h2>Últims tuits</h2>
    {% for tweet in tweets %}
        {% include '_tuit.html.twig' with { truit: tweet }%}
    {% else %}
        No hi ha tuits d'aquest usuari
    {% endfor %}
{% endblock %}