{% extends 'base.html.twig' %}
{% block body %}
    {% for tweet in tweets %}
        <div>{{ tweet.text }} <strong>@{{ tweet.author.username }}</strong>
        {{ tweet.createdAt |  date("d/m/Y") }}
        </div>
    {% endfor %}
{% endblock %}