<nav class="navbar navbar-light flex-column align-items-start">
    <a class="ms-3 navbar-brand" href="#">
        <img src="{{ asset('assets/eggcracked_2.svg') }}" alt="" width="50" height="50">
    </a>

    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}"><i class="bi bi-house-heart-fill"></i>
                Inici</a></li>
        <li class="nav-item"><a class="nav-link" href="explore.php"><i class="bi bi-hash"></i> Explorar</a>
        </li>
        {% if app.user %}
        <li class="nav-item"><a class="nav-link" href="{{ path('tweet_compose') }}"><i class="bi bi-pencil-square"></i>
                Nou tweet</a>
        </li>
        {% endif %}

    </ul>
</nav>
<nav>
    <ul class="nav flex-column">
        {% if app.user %}
        <li class="nav-item"><a class="nav-link disabled" href="#"><i class="bi bi-person-fill"></i>
                {{ app.user.username }} </a></li>
        <li class="nav-item"><a class="nav-link" href="/logout"><i class="bi bi-box-arrow-left"></i> Tancar sessió</a>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Iniciar
                sessió</a></li>
        {% endif %}
    </ul>
</nav>
